#content {
    font-family:sans-serif;
}

header {
    display: flex;
    background-color: rgb(151,219,174);
    border: black 2px solid; 
    padding: 10px;
    margin: 3px;
    border-radius: 5px;
    align-items: left;
}

nav {
    background-color: rgb(151,219,174);
}


/* .col-md-3{
    sisältö laitettu tuonne class..col sisään kokeilu joka toimii!
} */

.kuva{
    height: 230px;
    width: 300px;
    border: 2px solid rgb(151,219,174);
}

[class*="col"]{
    display: none;
    height: 300px;
    margin: 10px;
    padding: 20px;
    border: 5px rgb(195,229,174) solid;
    background-color: rgb(231, 241, 149);
} 

#aloitusnappi, #seuraava1, #seuraava2, #seuraava3, #seuraava4, #seuraava5, .button{
    height: 50px;
    width: 100px;
    background-color: rgb(244,187,187);
    border-radius: 5px;
    font-weight: bolder;
}

/* #kettu {
   

}
#karhu {
    

}
#orava {
    
}
#jänis {
    
}
#ilves {
   
} */
